body{
    background: #000000;
    color: #ffffff;
    font-family: "Times New Roman", sans-serif;
}

intro{
    padding: 25px;
}        

h1{
    font-size: 64px;
    padding: 10px;
    text-align: center;
}

h2{
    font-size: 32px;
    text-shadow: #808080;
    padding: 2px 2px;

}

p{
    font-size: 24px;
    padding-top: 15px;
}

#red{
    background:#FF0000;
    padding: 25px;
    text-align: right;

}

#blue{
    background: #0000FF;
    padding: 25px;
    text-align: left;

}

#yellow{
    background: #FFFF00;
    color:#000000;
    padding: 25px;
    text-align: right;

}

#green{
    background: #008000;
    padding: 25px;
    text-align: left;


}
