body{
    background: #000000;
    color: #ffffff;
    font-family: "Times New Roman", sans-serif;
}

h1{
    font-size: 64px;
    padding: 10px;
    text-align: center;
}

h2{
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
    padding: 2px 2px;

}

img{
    align-content:center;
    width: 550px;
    /* display: block; */
    /* left: 50%; how do I center in one line of code?? */
    /* Images can be a little tricky, what CSS parameter can we use to make sure it’s always on its own line?
Automatically centering elements seems hard but you really only need 1 line of code! Do you remember what it is? */
    display: block;
    margin-left: auto;
    margin-right: auto

}

p{
    font-size: 24px;
    padding-top: 15px;
}

#red{
    background:#FF0000;
    padding: 25px;
    text-align: right;
    min-height: 150px;

}

#blue{
    background: #0000FF;
    padding: 25px;
    text-align: left;
    min-height: 150px;


}

#yellow{
    background: #FFFF00;
    color:#000000;
    padding: 25px;
    text-align: right;
    min-height: 150px;


}

#green{
    background: #008000;
    padding: 25px;
    text-align: left;
    min-height: 150px;



}

footer p{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-left: 0px;
}
